<rl-form-dialog-container maxColumn='2'>
    <rl-card>

        <rl-card-header>
            <rl-card-header-title>
                <span>Karta Pracownika</span>
            </rl-card-header-title>
            <rl-card-header-action>
                <button mat-icon-button (click)="close()">
                    <mat-icon>close</mat-icon>
                </button>
            </rl-card-header-action>
        </rl-card-header>

        <rl-card-content>
            <rl-form-auto [formAppearance]="appearance" [formGroup]="formGroup" />
        </rl-card-content>

        <rl-card-footer>
            <rl-form-dialog-actions
                [formGroup]="formGroup"
                [type]="dialogData.offerForEmployeeId ? 'update' : 'create'"
                (clickClose)="close()"
                (clickCreate)="create()"
                (clickUpdate)="update()"
            ></rl-form-dialog-actions>
        </rl-card-footer>

    </rl-card>
</rl-form-dialog-container>

