<randem-frames-title-template-header>
  <button
    hidden
    (click)="openDialogCreate()"
    mat-fab
    [matTooltip]="'Dodaj pracownika'"
    matTooltipPosition="left"
    matTooltipHideDelay="300"
  >
    <mat-icon>add</mat-icon>
  </button>

  <button [matMenuTriggerFor]="headerMenu" mat-icon-button class="mat-menu-trigger">
    <mat-icon>more_vert</mat-icon>
  </button>

  <randem-frames-list-view-filter />
  <randem-frames-list-view-menu />

</randem-frames-title-template-header>

<mat-menu #headerMenu>
  <button mat-menu-item (click)="openDialogCreate()">
    <mat-icon>add</mat-icon>
    dodaj pracownika
  </button>
</mat-menu>
