:root {
    --border-color: rgb(120, 120, 120);
    --card-background: rgb(245, 245, 245);

    .dark {
        --border-color: rgb(120, 120, 120);
        --card-background: rgb(38, 38, 38);
    }
}
