<div class="flex flex-col items-center h-full overflow-y-auto bg-transparent">
  <div class="container max-w-3xl min-w-[480px] text-center drop-shadow-2xl mat-app-background m-8 p-8 rounded-3xl">
    <h2 class="pt-8 text-3xl font-bold mb-12" i18n="@@hello_Dashboard">
      Witaj w centrum zarządzania i rezerwacji!
    </h2>
    <p class="mb-4" i18n="@@weAreHereCause_Dashboard">
      Jesteśmy tu, aby pomóc Ci zwiększyć efektywność Twojego biznesu. Nasza platforma oferuje kompleksowe rozwiązania
      do zarządzania rezerwacjami, klientami i usługami. Dzięki intuicyjnym funkcjom i zaawansowanym narzędziom analizy,
      możesz nie tylko usprawnić codzienną pracę, ale także rozwijać swoją działalność z myślą o przyszłości.
    </p>

    <button
      routerLink="/dashboard/company"
      mat-flat-button
      color="primary"
      style="padding: 1rem 2rem; height: auto"
      i18n="@@discoverPlatform_Dashboard"
    >
      Odkryj, jak nasza platforma może wpłynąć na przyszłość Twojej firmy.
    </button>

    <br />

    <h3 class="mb-4 mt-8 text-2xl font-bold" i18n='@@HereWhatWeOffer_Dashboard'>Oto, co oferujemy:</h3>

    <div class="pb-8" i18n='@@advancedReservationManagement_Dashboard'>
      Zaawansowane zarządzanie rezerwacjami: Łatwość w zarządzaniu terminami, elastyczne opcje rezerwacji dla Twoich
      klientów oraz szybki dostęp do historii i planów pracy.
    </div>
    <div class="pb-8" i18n='@@comprehensiveCustomerDatabase_Dashboard'>
      Kompleksowa baza klientów: Przechowuj i zarządzaj informacjami o klientach w bezpieczny i uporządkowany sposób.
      Poznaj ich potrzeby i preferencje, aby świadczyć jeszcze lepsze usługi.
    </div>
    <div class="pb-8" i18n='@@analysisAndReporting_Dashboard'>
      Analiza i raportowanie: Zyskaj dostęp do szczegółowych danych i trendów, które pomogą Ci w podejmowaniu świadomych
      decyzji biznesowych. Śledź swoje postępy i identyfikuj obszary do rozwoju.
    </div>
    <div class="pb-8" i18n='@@personalizationAndCustomization_Dashboard'>
      Personalizacja i dostosowanie: Możliwość dostosowania funkcji platformy do specyfiki Twojej działalności, aby
      maksymalnie wykorzystać jej potencjał.
    </div>
    <div class="pb-8" i18n='@@ourPlatformIsNotJustATool_Dashboard'>
      Nasza platforma to nie tylko narzędzie - to partner w rozwijaniu Twojego biznesu. Niezależnie od tego, czy
      zarządzasz salonem fryzjerskim, gabinetem kosmetycznym, czy siecią restauracji, nasze rozwiązanie zostało
      zaprojektowane, aby wspierać Twój sukces na każdym kroku. Rozpocznij swoją podróż ku lepszej organizacji i
      większej efektywności już teraz.
    </div>
  </div>
</div>
