<rl-form-dialog-container maxColumn='2'>
  <rl-card>
    <rl-card-header>
      <rl-card-header-title> Oferta Firmy </rl-card-header-title>
      <rl-card-header-action>
        <button (click)="close()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </rl-card-header-action>
    </rl-card-header>

    <rl-card-content>
      <rl-form-auto [formAppearance]="offerForCompanyAppearance" [formGroup]="offerForCompanyFormGroup"></rl-form-auto>
    </rl-card-content>

    <rl-card-footer>
      <rl-form-dialog-actions
        [formGroup]="offerForCompanyFormGroup"
        [type]="dialogData.offer ? 'update' : 'create'"
        (clickClose)="close()"
        (clickCreate)="create()"
        (clickUpdate)="update()"
      ></rl-form-dialog-actions>
    </rl-card-footer>


  </rl-card>
</rl-form-dialog-container>
